pkgbase = aws-cli-v2
	pkgdesc = Unified command line interface for Amazon Web Services (version 2)
	pkgver = 2.15.17
	pkgrel = 1
	url = https://github.com/aws/aws-cli/tree/v2
	install = aws-cli-v2.install
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = python-jsonschema
	checkdepends = procps-ng
	makedepends = python-build
	makedepends = python-wheel
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	depends = python-awscrt
	depends = python-certifi
	depends = python-colorama
	depends = python-cryptography
	depends = python-dateutil
	depends = python-distro
	depends = python-docutils
	depends = python-jmespath
	depends = python-prompt_toolkit
	depends = python-ruamel-yaml
	depends = python-urllib3
	provides = aws-cli
	conflicts = aws-cli
	source = https://awscli.amazonaws.com/awscli-2.15.17.tar.gz
	source = https://awscli.amazonaws.com/awscli-2.15.17.tar.gz.sig
	source = build-ac.index-in-tmp.diff
	source = fix-env.diff
	source = aws-cli-v2-tz-fix.patch
	source = aws-cli-v2-ruamel-yaml-v4.patch
	source = allow-egg-info.diff
	validpgpkeys = FB5DB77FD5C118B80511ADA8A6310ACC4672475C
	sha256sums = f8172666cd5437d0314bfc3965a25701c21536b5ceef82080a2fb14a420a9b0c
	sha256sums = SKIP
	sha256sums = 0267e41561ab2c46a97ebfb024f0b047aabc9e6b9866f204b2c1a84ee5810d63
	sha256sums = 893d61d7e958c3c02bfa1e03bf58f6f6abd98849d248cc661f1c56423df9f312
	sha256sums = 4fc614b8550d7363bb2d578c6b49326c9255203eb2f933fd0551f96ed5fb1f30
	sha256sums = 20a9fcd5235bf606e86a6ec06ca30307ebbcfd36063d2ac561c1f9eff7243046
	sha256sums = 6768df8667fe7fd827e6eef1c4cdb3eae25aba5806bbc725270200a585f62152

pkgname = aws-cli-v2
